@font-face {
    font-family: Assistant-Regular;
    src: url(../../fonts/Assistant/Assistant-Regular.ttf);
}

@font-face {
    font-family: Assistant-Bold;
    src: url(../../fonts/Assistant/Assistant-Bold.ttf);
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(../../fonts/Open_Sans/OpenSans-Bold.ttf);
}