.widget {
    margin: 20px 0;
    min-height: 130px;
    max-width: 720px;
    border-radius: 10px;
    background-color: $clr3;
    padding: 16px;
    .icon-container {
        height: 115px;
        max-width: 115px;
        height: 115px;
        margin-inline-end: 16px;
        svg {
            height: 100%;
            width: 100%;
        }
    }
    p {
        color: white;
        font-size: 1.5em;
        margin: 0;
        max-width: 560px;
    }
}
